@{
    ViewData["Title"] = "Home Page";
}

<h2>Please Login:</h2>
<form method="post" action="/home/login">
    Username: <input type="text" name="username" /><br />
    <input type="submit" />
</form>